@import url("../fonts/line-awesome/css/line-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-background: #f6f3f4;
  --color-primary: #00d3f3;
  --color-secondary: #132348;
  --color-light: #cbfbf1;
  --color-border: #f1f1f1;
  --color-heading: #13163f;
  --color-body: #132348;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-script: Great Vibes, cursive;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Container max-width breakpoints */
  --container-center: true;
  --container-padding: 1rem;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
    /* horizontal scrollbar thickness */
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.5);
    border-radius: 10px;
  }

  .router-link-active,
  .router-link-exact-active {
    @apply text-primary font-semibold;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.9);
  }

  .base__button {
    @apply inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-primary rounded hover:bg-primary focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .base__outline {
    @apply inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-primary rounded hover:bg-primary focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .badge {
    @apply inline-flex items-center px-2 py-0.5 rounded-full capitalize text-xs font-medium;
  }

  .badge__primary {
    @apply bg-cyan-100 text-cyan-500;
  }

  .badge__secondary {
    @apply bg-gray-100 text-gray-500;
  }

  .badge__success {
    @apply bg-green-100 text-green-500;
  }

  .badge__warning {
    @apply bg-yellow-100 text-yellow-500;
  }

  .badge__danger {
    @apply bg-red-100 text-red-500;
  }

  .badge__info {
    @apply bg-indigo-100 text-indigo-500;
  }

  .badge__dark {
    @apply bg-gray-800 text-white;
  }

  .card {
    @apply bg-white rounded-xl;
  }
  .card__header {
    @apply px-4 py-3 border-b border-border flex items-center justify-between;
  }

  .card__title {
    @apply text-lg font-semibold text-gray-800;
  }

  .card__subtitle {
    @apply text-gray-500;
  }

  .card__body {
    @apply p-4 text-gray-700 relative overflow-x-auto;
  }
}
