@import url("../fonts/line-awesome/css/line-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "@nuxt/ui";
@import "tailwindcss";

@theme {
  --color-background: #a2f4fd;
  --color-primary: #00d3f3;
  --color-secondary: #132348;
  --color-light: #cbfbf1;
  --color-border: #f1f1f1;
  --color-heading: #13163f;
  --color-body: #132348;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-script: Great Vibes, cursive;

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* Container max-width breakpoints */
  --container-center: true;
  --container-padding: 1rem;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
    /* horizontal scrollbar thickness */
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.5);
    border-radius: 10px;
  }

  .router-link-active,
  .router-link-exact-active {
    @apply text-primary font-semibold;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.9);
  }

  .base__button {
    @apply inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-primary rounded hover:bg-primary focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .base__outline {
    @apply inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-primary rounded hover:bg-primary focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .badge {
    @apply inline-flex items-center px-2 py-0.5 rounded-full capitalize text-xs font-medium;
  }

  .badge__primary {
    @apply bg-cyan-100 text-cyan-500;
  }

  .badge__secondary {
    @apply bg-gray-100 text-gray-500;
  }

  .badge__success {
    @apply bg-green-100 text-green-500;
  }

  .badge__warning {
    @apply bg-yellow-100 text-yellow-500;
  }

  .badge__danger {
    @apply bg-red-100 text-red-500;
  }

  .badge__info {
    @apply bg-indigo-100 text-indigo-500;
  }

  .badge__dark {
    @apply bg-gray-800 text-white;
  }

  .nav {
    @apply overflow-y-auto;
  }

  .nav ul {
    @apply px-2;
  }

  .nav__item {
    @apply hover:bg-gray-100 rounded transition duration-100;
  }

  .nav__link {
    @apply hover:bg-gray-100 flex items-center justify-start relative p-2 rounded transition duration-150;
  }

  .nav__link span {
    @apply ml-2;
  }

  .has-children > .nav__link::after {
    content: "\f105";
    font-family: "Line Awesome Free";
    font-weight: 900;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: transform 0.3s ease;
  }

  .has-children > .nav__link.rotate::after {
    transform: translateY(-50%) rotate(90deg);
  }

  .active__link {
    color: var(--color-primary);
  }

  .card {
    @apply bg-white rounded-xl;
  }
  .card__header {
    @apply px-4 py-3 border-b border-border flex items-center justify-between;
  }

  .card__title {
    @apply text-lg font-semibold text-gray-800;
  }

  .card__subtitle {
    @apply text-gray-500;
  }

  .card__body {
    @apply p-4 text-gray-700 relative overflow-x-auto;
  }

  table {
    @apply min-w-full text-sm text-left text-gray-700 border-collapse;
  }

  thead tr {
    @apply bg-gray-50 text-gray-600 uppercase text-xs border-b;
  }

  th,
  td {
    @apply px-4 py-2;
  }

  tbody tr {
    @apply border-b hover:bg-gray-50;
  }

  tbody td span {
    @apply inline-block;
  }

  tbody td:last-child span {
    @apply inline-flex space-x-2 text-right;
  }

  tbody td:last-child span > * {
    @apply p-1 rounded bg-gray-100 hover:bg-gray-200;
  }

  tbody td:last-child span > * i {
    @apply text-lg text-gray-600;
  }

  .search__wrapper {
    @apply flex items-center gap-6 py-4;
  }

  .search__container {
    @apply relative flex-grow;
  }

  .search__input {
    @apply w-full px-4 py-1 rounded border invalid:border-red-500 invalid:text-red-600 focus:border-primary focus:outline focus:outline-primary focus:invalid:border-red-500 focus:invalid:outline-red-500 disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 disabled:shadow-none;
  }

  .search__dropdown {
    @apply absolute w-full max-w-xl z-10 bg-white shadow rounded border border-gray-200 max-h-60 overflow-y-auto;
  }

  .search__item {
    @apply px-4 py-2 hover:bg-gray-100 cursor-pointer;
  }

  .user__action {
    @apply bg-light p-2 rounded-full;
  }

  .sidebar__item {
    @apply flex items-center gap-2 py-2 hover:text-primary transition;
  }

  .link__active {
    @apply text-primary;
  }

  .link__exact__active {
    @apply text-primary border-l-3 border-primary pl-2 bg-gray-100;
  }
}
